/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns:100px 1fr end;
    grid-template-rows:75px auto end;
    grid-template-areas: 
    "header header header"
    "section section section"
    "section section section"
    "footer footer footer";
}

/* fondo de pantalla */
body{
    background-image: url(../multimedia/imagenes/keycapfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header
{
    grid-area: header;
display: flex;
min-height: 70px;
background-color: rgb(119, 0, 255);
justify-content: space-between;
align-items: center;
padding: 10px;
}

/* logo de la pagina */
.pag{
    color: chartreuse;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 200%;

}

header nav ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}

header nav ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 20px;
}
header nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}

header nav ul li a:hover
{
    background:#ffff;
    color: rgb(119, 0, 255);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

/* css para mi carrusel */

section{
    grid-area: section;
}

.itemcarrusel{
    border: 1px solid black;
}

.carrusel{
background-color: crimson;
}

.flechascarrusel{
background-color: mediumspringgreen;
}

section img{
    max-width: 1600px;
    width: 40%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

section img{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: center;
    max-width: 1600px;
}

img{
    margin: 1em;
    padding: 1em;
    color: aliceblue;
float: left;
}

footer{
    grid-area: footer;
    padding: 1em 0;
    margin-top: auto;
    background-color: rgb(119, 0, 255);
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


footer ul li a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    size-adjust: 20px;
}

/* css de mi form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;

font-size: 18px;
line-height: 1.3;
font-family:Arial, Helvetica, sans-serif
}
.contacto-xd {
    text-align: center;
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.contacto-xd h1  {
    font-size:  30px;
    display: flex;
    justify-content: center;
    background-color: rgb(119, 0, 255);
    border: 1px solid chartreuse;
    border-radius: 3px;
    width: max-content;
    margin-block-end: 20px;
}

.contacto-xd h2{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(119, 0, 255);
    border: 1px solid chartreuse;
    border-radius: 3px;
width: 80%;
}

.speaker-form {
    background-color: rgb(119, 0, 255);
    border: 1px solid chartreuse;
    border-radius: 3px;
    width: 80%;
    margin: 0 0 40px 0;
    padding: 40px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap
}

.form-row input [type="text"],
.form-row input [type="email"] {
    background-color:rgb(255, 255, 255);
    border: 1px solid chartreuse;
    border-radius: 3px ;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
}

.form-row textarea {
    font-size: 14px;
    border: 1px solid chartreuse;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 10px;
    min-height: 100px;
    resize: none;
    min-width: 100%;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}

